<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <title>CursosTEC</title>
</head>
<body ng-app="myApp" ng-controller="userCtrl">
<div class="container">

    <h3>Evaluaciones</h3>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre de la Evaluación</th>
          <th>Porcentaje</th>
          <th>Editar</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="eval in evaluaciones">
          <td>{{ eval.nombre }}</td>
          <td>{{ eval.porcentaje }}</td>
          <td>
            <button class="btn" ng-click="EditarEvaluacion(eval.idevaluacion)">
              <span class="glyphicon glyphicon-pencil"></span>  Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <hr>
    <button class="btn btn-success" ng-click="EditarEvaluacion('nueva')">
        <span class="glyphicon"></span>  Nueva Evaluación
    </button>
    <hr>

    <h3 ng-show="nuevo">Crear Nueva Evaluación:</h3>
    <h3 ng-show="edit">Editar Evaluación {{nombre}}:</h3>

    <form ng-show="nuevo || edit" role="form">
        <div class="form-group">
            <label >Nombre de la evaluación:</label>
            <div>
                <input type="text" class="form-control" ng-model="nombre" placeholder="Nombre de la evaluación">
            </div>
        </div> 
        <div class="form-group">
            <label>Porcentaje de evaluación:</label>
            <div>
                <input type="text" class="form-control" ng-model="porcentaje" placeholder="Porcentaje de evaluación">
            </div>
        </div>
        <hr>
        <button class="btn btn-success" ng-disabled="error" ng-click="guardar()">
            <span class="glyphicon glyphicon-save"></span>  Guardar Cambios
        </button>
    </form>
</div>
<script src= "JS/evaluaciones.js"></script>
</body>
</html>
